.stake-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.title,
.stake-title,
.no-stake {
  color: #df5832;
  font-weight: bolder;
  font-size: 1.6rem;
  font-family: 'Secular One', sans-serif;
  vertical-align: middle;
  text-align: left;
  margin-left: 1rem;
  margin-top: 2rem;
  padding-top: 4rem;
}

.stake-title {
  padding: 0;
  font-size: 1.3rem;
}

.no-stake {
  padding: 0 0 4rem 0;
  font-size: 1.1rem;
  color: #946a54;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
  border: 0;
  background-color: transparent;
  padding-top: 0.8rem;
}

.button img:active {
  transform: translateY(1px);
}

.input {
  width: 50%;
  margin-top: 5px;
  align-self: center;
}

.status{
  color: green;
}
.stake {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* width: 25%; */
  margin: 0 1rem 2rem 1rem;
  background-color: #f1e5bb;
  padding: 1rem 0;
  box-shadow: 3px 3px rgb(107, 106, 106);
}

.stake img {
  width: 90%;
}

.item-container {
  align-self: center;
  background-color: #f8f8f0;
  width: 80%;
  border-top-left-radius: 4px;
  box-shadow: -2px -2px rgb(192, 189, 189);
}

.item-container .item {
  text-align: left;
  font-size: 0.7rem;
  padding: 0.6rem 0.2rem;
}

.item-container .item:not(:last-child) {
  border-bottom: solid rgb(224, 222, 222) 1px;
}

.name {
  padding-left: 1.2rem;
}

.status {
  padding-left: 1.2rem;
}

.apr {
  padding-left: 1.7rem;
}

.min {
  padding-left: 2rem;
}



@media (min-width: 600px) and (max-width: 769px) {
  .stake-list {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 599px) {
  .stake-list {
    grid-template-columns: auto;
  }
  .title {
    text-align: center;
    margin-top: 0;
  }
}
