.stake-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.title,
.stake-title,
.no-stake {
  color: #df5832;
  font-weight: bolder;
  font-size: 1.6rem;
  font-family: 'Secular One', sans-serif;
  vertical-align: middle;
  text-align: left;
  margin-left: 1rem;
  margin-top: 2rem;
  padding-top: 4rem;
}

.stake-title {
  padding: 0;
  font-size: 1.3rem;
}

.no-stake {
  padding: 0 0 4rem 0;
  font-size: 1.1rem;
  color: #946a54;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
  border: 0;
  background-color: transparent;
  padding-top: 0.8rem;
}

.button img:active {
  transform: translateY(1px);
}

.input {
  width: 50%;
  margin-top: 5px;
  align-self: center;
}

@media (min-width: 600px) and (max-width: 769px) {
  .stake-list {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 599px) {
  .stake-list {
    grid-template-columns: auto;
  }
  .title {
    text-align: center;
    margin-top: 0;
  }
}
