.profile {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}

.profile .coin-img {
  background-image: url('../../../assets/images/coin.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 10rem;
  height: 4rem;
  margin-right: 0.6rem;
}

.profile .account-img {
  background-image: url('../../../assets/images/profile.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 15rem;
  height: 4rem;
  margin-left: 0.6rem;
}

.coins {
  position: relative;
  top: 1.2rem;
  right: 1rem;
}

.accounts {
  position: relative;
  top: 1.5rem;
  right: 3rem;
  cursor: pointer;
}

@media (max-width: 599px) {
  .profile {
    justify-content: center;
  }
  .profile .account-img,
  .profile .coin-img {
    margin: 0;
  }
}
