.modal {
  width: 70% !important;
  margin: auto !important;
}

.close {
  background-color: transparent;
  border: 0;
  width: fit-content;
  align-self: flex-end;
}
.close::after {
  content: '\00d7';
  padding: 0.5rem;
  font-size: 2rem;
}

img.buy-fuel {
  display: flex;
  margin-right: 3rem;
  padding-left: 0;
}

img.buy-ticket {
  width: 70%;
  margin: 5rem auto 3rem auto;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #6b6b6b;
}

.buy-button {
  margin: auto;
  width: 12rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

button.buy-button {
  margin: 0;
  padding: 0;
}

select {
  margin: auto !important;
  width: 80% !important;
  margin-top: 1rem !important;
  height: 1.8rem !important;
  padding-bottom: 0.2rem !important;
  font-size: 0.8rem !important;
}
