.header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 0.2rem 1.4rem;
  background-color: #f1e5bb;
  justify-content: space-between;
}

.logo {
  position: absolute;
  width: 7%;
  left: 1rem;
  top: 0.6rem;
}

.link-container {
  padding-top: 1.2rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
}

.link-item {
  text-decoration: none;
  padding: 0 1rem;
  color: #df5832;
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: 'Secular One', sans-serif;
  vertical-align: middle;
}

.link-item:hover {
  color: #d3431b;
}

#hamnav {
  display: none;
}

@media (max-width: 769px) {
  .header {
    display: none;
  }
  .logo {
    position: relative;
    width: 10%;
    display: flex;
    justify-content: flex-start;
  }
  #hamnav {
    display: block;
    width: 100%;
    background-color: #f1e5bb;
    position: sticky;
    top: 0;
  }
  #hamburger { display: none; }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid rgb(192, 190, 190);
    padding: 1rem 0;
  }

  #hamitems a:nth-of-type(2) {
    border-bottom: 1px solid rgb(192, 190, 190);
  }

  #hamnav label {
    display: flex;
    position: relative;
    right: -30rem;
    bottom: 3rem;
    justify-content: flex-end;
    color: white;
    font-style: normal;
    font-size: 3rem;
    width: max-content;
    padding: 2px;
  }

  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}

@media (max-width: 481px) {
  .logo {
    width: 20%;
  }
  #hamnav label {
    display: flex;
    position: relative;
    right: -18rem;
    bottom: 3rem;
    justify-content: flex-end;
    color: white;
    font-style: normal;
    font-size: 2.2em;
    width: max-content;
    padding: 2px;
  }
}
