.sno {
  text-align: left;
  margin-left: 1rem;
  color: #df5832;
  font-weight: bolder;
  font-size: 0.9rem;
}

.train {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 0.3rem 2rem 0.3rem;
  background-color: #f1e5bb;
  box-shadow: 3px 3px rgb(107, 106, 106);
  padding: 1rem 0;
  position: relative;
}

.sell {
  position: relative;
  display: flex;
  width: 15%;
  align-self: flex-end;
  margin-right: 1rem;
  top: -2.6rem;
}

.train-image {
  display: grid;
  justify-items: center;
  align-items: center;
}

.bullet {
  position: relative;
  top: -0.1rem;
  z-index: 1;
}

.bullet img {
  width: 70%;
}

.train-image img {
  width: 60%;
}

.train-container {
  display: flex;
  align-self: center;
  background-color: #f8f8f0;
  width: 96%;
  border-top-left-radius: 4px;
  box-shadow: -2px -2px rgb(192, 189, 189);
  justify-content: space-evenly;
  position: relative;
  top: -0.3rem;
  text-align: left;
}

.table-data {
  font-size: 0.7rem;
}

.icon {
  position: relative;
  top: -3px;
  margin-right: 2px;
}

.icon img {
  width: 1rem;
}

.image-icon {
  display: flex;
  justify-content: center;
}

.image-icon img {
  width: 2rem;
}

.value {
  color: black;
  font-weight: bold;
}

.train-button {
  display: flex;
  justify-content: space-evenly;
  padding: 0.6rem 0;
}

.dispatch {
  background-color: transparent;
  border: 0;
}

.train-button img {
  width: 100%;
}

.train-button img:active {
  transform: translateY(1px);
}

.purchase {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.purchase-button {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
}

.ticket .ticket-image {
  background-image: url('../../../assets/images/ticket.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 6rem;
}

.ticket .buy-ticket-image {
  background-image: url('../../../assets/images/buy_tickets_button.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 7rem;
  height: 4rem;
}

.box .box-image {
  background-image: url('../../../assets/images/box.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 6rem;
}

.box .unbox-image {
  background-image: url('../../../assets/images/unbox_train_button.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 7rem;
  height: 4rem;
}

@media (max-width: 599px) {
  .purchase {
    justify-content: center;
  }
}

/* .v-separator
{
    content: "";
    display: inline-block;
    width: 0px;
    height: 190px;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
} */
