.sno {
  text-align: left;
  margin-left: 1rem;
  color: #df5832;
  font-weight: bolder;
  font-size: 0.9rem;
}

.train {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 0.3rem 2rem 0.3rem;
  background-color: #f1e5bb;
  box-shadow: 3px 3px rgb(107, 106, 106);
  padding: 1rem 0;
  position: relative;
}

.sell {
  position: relative;
  top: 0;
  bottom: 75px;
  left: 25%;
  right: 0;
}

.sell-flex {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 8%;
}

.sell-image {
  width: 25%;
}

.inside-sell {
  width: 15%;
}

.train-image {
  display: grid;
  justify-items: center;
  align-items: center;
}

.bullet {
  position: relative;
  top: -0.1rem;
  z-index: 1;
}

.bullet img {
  width: 70%;
}

.train-image img {
  width: 60%;
}

.train-container {
  display: flex;
  align-self: center;
  background-color: #f8f8f0;
  width: 96%;
  border-top-left-radius: 4px;
  box-shadow: -2px -2px rgb(192, 189, 189);
  justify-content: space-evenly;
  position: relative;
  top: -0.3rem;
  text-align: left;
}

.table-data {
  font-size: 0.7rem;
}

.icon {
  position: relative;
  top: -3px;
  margin-right: 2px;
}

.icon img {
  width: 1rem;
}

.image-icon {
  display: flex;
  justify-content: center;
}

.image-icon img {
  width: 2rem;
}

.value {
  color: black;
  font-weight: bold;
}

.train-button {
  display: flex;
  justify-content: space-evenly;
  padding: 0.6rem 0;
}

.dispatch {
  background-color: transparent;
  border: 0;
}

.train-button img {
  width: 100%;
  transition: all 0.3s ease-in 0.1s;
}

.train-button img:hover {
  width: 102%;
}

.train-button img:active {
  transform: translateY(1px);
}

.purchase {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.purchase-button {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
}

.ticket .ticket-image {
  background-image: url('../../../assets/images/ticket.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 6rem;
}

.ticket .ticket-image:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.ticket .buy-ticket-image {
  background-image: url('../../../assets/images/buy_tickets_button.png');
  background-repeat: no-repeat;
  background-size: 100% 70%;
  width: 7rem;
  height: 4rem;
  transition: all 0.3s ease-in 0.1s;
}

.ticket .buy-ticket-image:hover {
  background-size: 102% 72%;
}

.box .box-image {
  background-image: url('../../../assets/images/box.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 6rem;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce-1;
  animation-timing-function: linear;
}

.box .unbox-image {
  background-image: url('../../../assets/images/unbox_train_button.png');
  background-repeat: no-repeat;
  background-size: 100% 70%;
  width: 7rem;
  height: 4rem;
  transition: all 0.3s ease-in 0.1s;
}

.box .unbox-image:hover {
  background-size: 102% 72%;
}

.station-button {
  background-color: transparent;
  border: 0;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 599px) {
  .purchase {
    justify-content: center;
  }
}
