.unstake-button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
  border: 0;
  background-color: transparent;
  padding-top: 0.8rem;
}

.unstake-button img:active {
  transform: translateY(1px);
}